DEBUG=True
SECRET_KEY=django-insecure-vmmc-erp-dev-key-change-in-production-1234567890
ALLOWED_HOSTS=127.0.0.1,localhost
# To connect to Railway Postgres locally, use the Public URL from Railway:
# DATABASE_URL=postgresql://postgres:password@roundhouse.proxy.rlwy.net:port/railway
